body{
	background-color: ;
}

#tabl {
	color:blue;
	border-radius: 8px;
    display:none;
}

#tablet {
	color:red;
	border-radius: 8px;
    display:none;
}
#knopka {
	color:red;
	font-weight: 700;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb 199;
    transition: 0.2s;
}
#knop{
	color:black;
	font-weight: 700;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb 199;
    transition: 0.2s;